/* Global Styles */
body {
    margin: 0;
    padding: 0;
    box-sizing:border-box  ;
    font-family: Arial, sans-serif;
  }
  
  /* Sidebar Styles */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #775936;
    transition: all 0.5s ease;
  }
  
  .sidebar.active {
    width: 250px;
  }
  
  .sidebar .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
  }
  
 
 .user {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    margin: 1rem 0;
  }
  
  .sidebar .user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid white;
    margin-right: 8px;
  }
  
.user p {
  color:white;
  opacity: 1;
  margin-left: .5rem;
  }
  
  .sidebar .sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sidebar.active ~ .main-content{
    left: 250px;
    width:calc(100% - 250px);
  }
.sidebar.active{
  width:250px;
}
.sidebar #btn{
  position: absolute;
  color: white;
  top: .4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translate(-50%);  
  cursor: pointer;
  
}
.sidebar.active #btn{
  left: 90%;
}
.sidebar .top .logo {
  color:white;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;

}
.sidebar.active .top .logo{
  opacity: 1;
}
.bold{
  font-weight: 600;
}
.sidebar p{
  opacity: 0;
}
.sidebar.active p{
  opacity: 1;
}
.sidebar ul li{
  position:relative;
  list-style-type: none;
  height: 50px;
  width:90%;
  margin:0.8rem auto;
  line-height: 50px;
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;

}
.sidebar ul li a:hover{
  background-color: #f9f9f9;
  color: black;

}
.sidebar ul li a i{
  min-width: 50px;
  text-align: center;
  height:50px;
  border-radius: 12px;
  line-height: 50px;
}
.sidebar .nav-item{
  opacity: 0;
}
.sidebar.active .nav-item{
  opacity: 1;
}


.sidebar ul li .tooltip {
  position: absolute;
 margin-left: 4rem;
  left: 125%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,0.2);
  border-radius: .6rem;
  padding: .4rem 1.2rem;
  line-height:1.8rem;
  z-index:20;
  opacity: 0;
  
}
.sidebar ul li:hover .tooltip {
  opacity: 1;
}
.sidebar.active ul li .tooltip{
  display: none;
}

body{
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right:auto;
  padding: 0 10px;
}


.main-content {
  position: relative;
  background-color: white;
  flex-shrink: 2rem;
  left: 0;
  transition: all 0.5s ease;
  width: calc(100% - 90px);
  margin-left: 90px; /* Add a margin to create space for the expanded sidebar */
}
  
  /* feed part  */

 .feed{
  flex: 0.5;
  border-right:1px solid #e6ecf0;
  min-width: fit-content;
  overflow-y: scroll; 
} 
.feed__header{
  justify-content: space-between;
  position:sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border:1px solid #e6ecf0 ;
  padding: 15px 20px;
}
.feed__header h2 {
  font-size: 20px;
  font-weight: 800;
  display: inline;
  justify-content: space-between;
  margin-right: 2rem;
}
.feed__header div {
  display: inline;
  justify-content: space-between;
  margin-left: 10rem;
}

.feed::-webkit-scrollbar {
  display: none;
}
.feed {
  scrollbar-width: none;
  -ms-overflow-style: none;
} 

/* weg part (simillar to tweeet) */
.wegbox__input img {
  border-radius:50% ;
  height:40px;
}

.wegBox {
  padding-bottom:10px;
  border-bottom:8px solid #e6ecf0;
  padding-right:10px ;
}

.wegBox form{
  display: flex;
  flex-direction: column;
}

.wegbox__input{
  display: flex;
  padding:20px;
}

.wegbox__input input{
  flex:1; 
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.wegBox__wegButton{
  background-color: #775936;
  border:none;
  color:white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

/* post */

.post__card img {
  border-radius: 50%;
  height: 40px;
  

}
.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #e6ecf0;
  padding-bottom: 10px;

}

.post__body img{
  width: 450px;
  object-fit: contain;
  border-radius: 20px;

}
.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post__badge {
  color: #775936;
  font-size: 12px !important;
  margin-right: 5px;
  font-weight: 600;

}
.post__headerText h3{
 font-size: 15px;
 margin-bottom: 5px;
 margin-left:10px ;
}

.post__headerDescription{
  margin-bottom: 10px;
  font-size: 15px;
}

.post__body{
  flex: 1;
  padding: 10px;

}
.post__card {
  padding: 20px;
}

.widgets {
  display: flex;
  margin-left: 5rem;
  width: calc(-50% + 90px );
  position: relative;
  background-color: white;
  flex-shrink: 2rem;
  left: 0;
  transition: all 0.5s ease;
  margin-left: 90px; /* Add a margin to create space for the expanded sidebar */
  z-index: 1; /* Set a higher stacking order */
}
widgets__input{
  display: inline;
}

@media (max-width: 768px) {
  .widgets{
    display: none;
  }
}
/* Styles for smaller screens */
/* @media (max-width: 768px) {
  .container {
    display: flex;
  }
  
  .sidebar {
    width: 80px; 
    overflow-x: hidden;
  }
  
  .sidebar.active {
    width: 250px; 
  }
  
  .main-content {
    flex: 1; 
  }
  
  
  .sidebar #btn {
    display: block;
  }
} */

/* @media (min-width: 768px) {

  .sidebar #btn {
    display: none;
  }
} */

